.item-card {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.058);
    border-radius: 10px;
}

.item-card > img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.item-card p, .item-card h3  {
    margin: 0;
}

.item-card > p, .item-card > h3 {
    padding: 0 10px;
}

.item-card-main {
    padding: 10px;
}

.item-card .item-card-footer {
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgba(0, 0, 0, 0.089);
    background-color: rgba(0, 0, 0, 0.079);
    padding: 10px;
    margin-top: auto;
    font-size: 0.9rem;
    color: rgb(141, 141, 141);
}