.commentItem {
    margin: 1rem 0;
}
.commentItem .item-card-main{
    min-height: 1rem;
    padding: 2rem;
}
.commentItem .commentInfo {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    padding: 0.3rem 2rem;
}