.commentItem {
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px;
}
.commentItem > p {
    padding: 10px 20px;
}
.commentInfo {
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}